<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <application

        android:networkSecurityConfig="@xml/networksecurityconfig"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:usesCleartextTraffic="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Forthefilnal"
        tools:targetApi="31">
        <activity
            android:name=".insert"
            android:exported="false" />
        <activity
            android:name=".MainActivity14"
            android:exported="false" />
        <activity
            android:name=".pastries"
            android:exported="false" />
        <activity
            android:name=".Tost"
            android:exported="false" />
        <activity
            android:name=".notella"
            android:exported="false" />
        <activity
            android:name=".coktallRanush"
            android:exported="false" />
        <activity
            android:name=".topshawerma"
            android:exported="false" />
        <activity
            android:name=".Mahta"
            android:exported="false" />
        <activity
            android:name=".Maramia"
            android:exported="false" />
        <activity
            android:name=".Literature_cafeteria"
            android:exported="false" />
        <activity
            android:name=".science_cafeteria"
            android:exported="false" />
        <activity
            android:name=".vanaila"
            android:exported="false" />
        <activity
            android:name=".Pharmacy_Cafeteria"
            android:exported="false" />
        <activity
            android:name=".Faculty_of_Economics_and_Commerce"
            android:exported="false" />
        <activity
            android:name=".list_rest"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>